body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page, .pageLast {
  width: 210mm;
  min-height: 297mm;
  padding: 5mm;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.page b, .pageLast b {
  color: #9a222e;
}

.page .fullUnit, .pageLast .fullUnit {
  margin: 0.2vh 0 0.2vh 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.page .fullUnit .title, .pageLast .fullUnit .title {
  widows: 60%;
  font-size: 25px;
  font-weight: 500;
}

.page .fullUnit .taskUnit, .pageLast .fullUnit .taskUnit {
  margin-top: 2vh;
  width: 90%;
  font-size: 50px;
  font-weight: 700;
  color: #01613b;
  border-bottom: 1px solid #1f1a17;
}

.page .fullUnit .content, .pageLast .fullUnit .content {
  margin: 1vh 0 0 1vh;
  font-size: 15px;
  font-weight: 500;
  width: 80%;
}

.page .fullUnit .scontent, .pageLast .fullUnit .scontent {
  width: 100%;
  height: auto;
}

.page .fullUnit .woodContent, .pageLast .fullUnit .woodContent {
  width: 80%;
  height: auto;
}

.page .fullUnit .dataTitle, .pageLast .fullUnit .dataTitle {
  margin-top: 3vh;
  font-size: 20px;
  font-weight: 700;
  color: #1f1a17;
  width: 80%;
  border-bottom: 1px solid #9a222e;
}

.page .fullUnit .dataSummary, .pageLast .fullUnit .dataSummary {
  margin: 1vh 0 0 1vh;
  font-size: 15px;
  font-weight: 500;
  width: 80%;
}

.page .fullUnit .dataSummary .dataUnit .type, .pageLast .fullUnit .dataSummary .dataUnit .type {
  margin-top: 1vh;
  font-size: 15px;
  font-weight: 500;
}

.page .fullUnit .dataSummary .dataUnit .typeA, .pageLast .fullUnit .dataSummary .dataUnit .typeA {
  margin-top: 1vh;
  font-size: 15px;
  font-weight: 700;
}

.page .fullUnit .dataSummary .dataUnit .typeB, .pageLast .fullUnit .dataSummary .dataUnit .typeB {
  margin-top: 1vh;
  font-size: 15px;
  font-weight: 500;
}

.page .fullUnit .dataSummary .dataUnit .value, .pageLast .fullUnit .dataSummary .dataUnit .value {
  font-size: 15px;
  font-weight: 700;
  color: #586473;
}

.page .fullUnit .dataSummary .dataUnit .valueA, .pageLast .fullUnit .dataSummary .dataUnit .valueA {
  font-size: 15px;
  font-weight: 700;
  color: #9a222e;
}

.page .fullUnit .dataSummary .dataUnit .valueB, .pageLast .fullUnit .dataSummary .dataUnit .valueB {
  font-size: 15px;
  font-weight: 700;
  color: #21374B;
}

.page .chartUnit, .pageLast .chartUnit {
  margin: 0.2vh 0 0.2vh 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.page .chartUnit #firstTask, .pageLast .chartUnit #firstTask {
  width: 100%;
  height: 280mm;
}

.page .chartUnit #secondTask, .pageLast .chartUnit #secondTask {
  width: 100%;
  height: 280mm;
}

.page .chartUnit #overall, .pageLast .chartUnit #overall {
  width: 100%;
  height: 280mm;
}

.page .imageUnit, .pageLast .imageUnit {
  margin: 0.2vh 0 0.2vh 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 8vh 0 8vh 0;
}

.page .imageUnit .image, .pageLast .imageUnit .image {
  margin: 0.2vh 0 0.2vh 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.pageLast {
  justify-content: flex-start;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .page, .pageLast {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
 

 /*# sourceMappingURL= app.css.map */