#map {
    position: absolute;/*
    height: -moz-calc(100% - 96px);
    height: -webkit-calc(100% - 96px);
    height: -o-calc(100% - 96px);
    height: calc(100% - 96px);*/
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    margin:0;
    padding: 0;
}
#barTop {
    position: absolute;
    z-index: 3;
    width: 90%;
    left: 10%;
    height: 48px;
    top:0;
    margin:0;
    padding: 0;
    background-color: #212121;
    visibility: visible;
    opacity:0;
    filter:alpha(opacity=0);
}
#barBottom {
    position: absolute;
    width: 96%;
    right: 4%;
    height: 48px;
    bottom:0;
    margin:0;
    padding: 0;
    background-color: #212121;
    visibility: visible;
    opacity:0;
    filter:alpha(opacity=0);
}
#leftPannel {
    height: 100%;
    width: 5%;
    float: left;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tab{
    padding: 5px;
    font-size: 150%;
}
.name{
    margin: 0;
    padding: 0;
}
.tabVisible{
    visibility: visible;
    opacity:1;
    filter:alpha(opacity=1);
}
.tabHidden{
    visibility: visible;
    opacity:0;
    filter:alpha(opacity=0);
}